.brand-img {
  filter: grayscale(1);
  align-self: center;
  justify-self: center;
}

@media screen and (max-width: 768px) {
  .clients {
    margin: auto;
    margin-top: 2rem;
    > div {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 2.5rem 0;
      img {
        margin: 0.85rem 0;
        height: 40px;
      }
    }
  }
}
