@use "theme" as *;

.faqs {
  .single-accordion {
    font-family: "Inter", sans-serif !important;
  }
}

.l-faqs {
  .single-accordion {
    background-color: white;
    color: $primary-color-light;
    font-family: "Inter", sans-serif !important;
  }
}

.single-accordion {
  border: 2px solid rgb(0, 119, 179);
  border-radius: 5px;
  transition: all 0.4s ease;
  &:hover {
    border-color: rgb(109, 155, 176);
  }
}

.faq-closed {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: left;
  width: 100%;
  border-radius: 3px;
  padding: 13px;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 500;
}

.accordion {
  color: rgb(236, 236, 236);
}

.display {
  max-height: 500px;
  overflow-y: scroll;
  scrollbar-width: none;
  width: 100%;
  padding: 13px;
  font-size: 16px;
  font-weight: 400;
  transition: max-height 600ms ease;
}

.hide {
  max-height: 0;
  overflow: hidden;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .faqs {
    margin: auto;
    margin-top: 2rem;
    > div {
      .accordion {
        display: flex;
        flex-direction: column;
        align-items: center;

        .single-accordion {
          margin: 0 1.25rem;
        }
      }
    }
  }
}
