@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Rhodium+Libre&display=swap");

@import "theme";

@import "./Navbar.module.scss";
@import "./MainSection.module.scss";

$transition-duration: 100ms;
$roboto-fonts: "Roboto", sans-serif;
$lato-fonts: "Lato", sans-serif;
$jost-fonts: "Jost", sans-serif;
$poppins-fonts: "Poppins", sans-serif;
$montserrat-fonts: "Montserrat", sans-serif;
$inter-fonts: "Inter", sans-serif;

//LightModeStyles

.light-mode {
  background-color: $background-color-light;
  // color: $primary-color-light;
  transition: all $transition-duration ease;
}

// Dark Mode Styles
.dark-mode {
  background-color: $background-color-dark;
  // color: $primary-color-dark;
  transition: all $transition-duration ease;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

html,
body {
  padding: 0;
  margin: 0;
  // background-color: $background-color-dark;
  font-family: "Inter";
  transition: all 3s ease;
  box-sizing: border-box;
  scroll-behavior: smooth;
  transition: all 0s ease;
}
/* Adjust the width of the scrollbar */
::-webkit-scrollbar {
  width: 10px;
  background-color: rgb(44, 44, 44); /* Change 'color' to 'background-color' */
}

/* Define the style of the scrollbar thumb */
::-webkit-scrollbar-thumb {
  background-color: rgb(58, 58, 58); /* Change 'color' to 'background-color' */
}

/* Optionally, you can style the track piece as well */
/* ::-webkit-scrollbar-track-piece {
  background-color: rgb(58, 58, 58); 
} */

.contain {
  max-width: 1366px;
  margin: auto;

  .call-to-action {
    background-color: $primary-color-dark;
    color: $light-color-dark;
    border-radius: 39px;
    font-family: $roboto-fonts;
    font-size: 15px;
    padding: 14px 18px;
    letter-spacing: 0.5px;
  }

  .primary-header {
    font-size: 40px;
    text-transform: uppercase;
    color: $light-color-dark;
    font-family: $lato-fonts;
    position: relative;
    width: fit-content;
    margin: auto;

    span {
      color: $secondary-color-dark;
      margin-right: 10px;
    }

    &::after {
      content: "";
      position: absolute;
      top: 70%;
      left: 103%;
      width: 230px;
      border-bottom: 5px solid $secondary-color-dark;
    }
  }

  .service-card {
    background-color: $primary-color-dark-dark;
    max-width: 270px;
    padding: 26px 24px;
    border-radius: 16px;

    h3 {
      font-family: $poppins-fonts;
      font-weight: 300;
      font-size: 24px;
      color: $light-color-dark;
      margin-top: 16px;
      line-height: 28px;
    }
    p {
      font-family: $jost-fonts;
      margin-top: 10px;
      font-size: 16px;
      letter-spacing: 0.4px;
      font-weight: 300;
      color: $light-color-dark;
    }
  }

  .portfolio-card {
    background-color: $primary-color-dark-dark;
    max-width: 360px;
    border-radius: 16px;
    box-sizing: border-box;

    img {
      padding: 6px;
      border-radius: 16px 16px 0 0;
      width: 360px;
      height: 250px;
      background-repeat: no-repeat;
      background-clip: border-box;
      background-size: contain;
    }

    h3 {
      font-family: $jost-fonts;
      font-size: 24px;
      font-weight: 500px;
      color: $light-color-dark;
      line-height: 30px;
    }

    .project-content {
      padding: 25px 30px;
    }

    .service-tag {
      font-size: 16px;
      text-transform: uppercase;
      letter-spacing: 0.45px;
      color: $secondary-color-dark;
      font-family: $jost-fonts;
      font-weight: 600;
    }

    .project-description {
      font-family: $jost-fonts;
      margin-top: 10px;
      color: $light-color-dark;
      font-weight: 300;
      font-size: 16px;
      letter-spacing: 0.4px;
    }
  }

  .testimonial-card {
    background-color: $primary-color-dark-dark;
    max-width: 360px;
    border-radius: 16px;
    box-sizing: border-box;
    padding: 36px 30px;
    color: $light-color-dark;

    .testimonial-desc {
      .service-tag {
        font-size: 16px;
        text-transform: uppercase;
        letter-spacing: 0.45px;
        font-family: $jost-fonts;
        font-weight: 600;
      }

      h3 {
        font-family: $jost-fonts;
        font-size: 24px;
        font-weight: 500px;
        line-height: 30px;
        margin-top: 0.85rem;
      }

      .description {
        font-family: $jost-fonts;
        margin-top: 10px;
        color: $light-color-dark;
        font-weight: 300;
        font-size: 16px;
        letter-spacing: 0.4px;
        margin-top: 1rem;
        height: 190px;
        overflow-y: scroll;
        scrollbar-width: none;
      }
    }

    .client-section {
      display: grid;
      grid-template-columns: repeat(4, minmax(0, 1fr));
      margin-top: 2rem;
      align-items: center;

      .client-image {
        grid-row: 1 / 3;
      }
      .cilent-name {
        grid-column: 2 / 5;
        font-family: $jost-fonts;
        font-size: 1.25rem;
      }
      .client-description {
        grid-column: 2 / 5;
        font-size: 0.85rem;
        font-family: $montserrat-fonts;
        span {
          font-family: $jost-fonts;
          text-transform: uppercase;
          opacity: 0.65;
        }
      }
    }
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
