@import "theme";

.hero {
  margin-top: 2rem;
  margin-bottom: 10rem;

  h1 {
    font-family: "Lato", sans-serif;
    font-size: 50px;
    line-height: 55px;
    font-weight: 500;
    color: $light-color-dark;
    letter-spacing: 0.9px;
    span {
      color: $primary-color-dark;
    }
  }

  p {
    font-family: "Jost", sans-serif;
    color: $light-color-dark;
    line-height: 31px;
    letter-spacing: 1px;
    margin-top: 15px;
    margin-bottom: 14px;
  }

  .hero-content {
    max-width: 715px;
    .small {
      font-family: "Lato", sans-serif;
      font-size: 40px;
      line-height: 45px;
      font-weight: 500;
      color: $light-color-dark;
      letter-spacing: 0.9px;
      z-index: 2;

      span {
        position: relative;
        &::after {
          content: "";
          position: absolute;
          bottom: 0;
          right: 0;
          width: 180px;
          z-index: -1;
          border-bottom: 15px solid $primary-color-dark;
          opacity: 0.8;
        }
      }
    }

    .para {
      margin-bottom: 3rem;
    }
  }
}

.l-hero {
  h1 {
    color: $primary-color-light;
  }
  p {
    color: $primary-color-light;
  }
  .hero-content {
    .small {
      color: $primary-color-light;
      z-index: 2;

      span {
        position: relative;
        &::after {
          content: "";
          position: absolute;
          bottom: 0;
          right: 0;
          width: 180px;
          z-index: -1;
          border-bottom: 15px solid $primary-color-dark;
          opacity: 0.8;
        }
      }
    }
  }
}

@media screen and (max-width: 1024px) and (min-width: 769px) {
  .hero {
    margin: 1.75rem 0;

    h1 {
      font-size: 2.8rem;
      line-height: 3.4rem;
    }

    p {
      font-size: 1rem;
      line-height: 1.5rem;
    }

    img {
      height: 340px;
    }

    .hero-content {
      max-width: 485px;
    }
  }
}

@media screen and (max-width: 768px) {
  .hero {
    display: block;
    margin: 1.75rem 1.15rem;

    h1 {
      font-size: 2.3rem;
      line-height: 2.9rem;
      text-align: center;
    }

    p {
      font-size: 1rem;
      line-height: 1.5rem;
      text-align: center;
    }

    img {
      display: none;
    }
  }
}
