// @import "globals";
@import "theme";

.navbar {
  ul {
    color: $light-color-dark;
    font-family: "Roboto", sans-serif;
  }
}

@media screen and (max-width: 768px) {
  .navbar {
    display: block;
    ul {
      display: block;
      margin-left: 0 !important;
    }
  }
}
