// @import "globals";
@import "theme";

.navbar {
  ul {
    color: $light-color-dark;
    font-family: "Roboto", sans-serif;
  }
}

@media screen and (max-width: 768px) {
  .navbar {
    display: block;
    padding: 1rem;
    position: sticky;
    top: 0;
    background-color: rgb(44, 44, 44);
    img {
      height: 40px;
    }
    ul {
      display: none;
    }
  }
}
