// Light Mode Variables
$primary-color-light: #4f5e6d;
$background-color-light: #f3b2b2;

// Dark Mode Variables
$primary-color-dark: rgb(0, 119, 179);
$primary-color-dark-dark: rgb(26, 43, 51);
$light-color-dark: rgb(236, 236, 236);
$secondary-color-dark: rgb(179, 68, 0);
$tertiary-color-dark: rgb(179, 122, 0);
$background-color-dark: rgb(44, 44, 44);
